<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<switches>
			<add name="ShowErrors" value="4" />
		</switches>
	</system.diagnostics>

	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

		<authentication mode="None"/>

		<!--
		Custom page parser filter is used to convert generic page type in inherits attrib from C# syntax
		to the correct form asp.net can understand. Just the same as in asp.net mvc.
		You can use OpenRasta.Codecs.WebForms.ResourceView<Home>, which R# should recognize as well as
		OpenRasta.Codecs.WebForms.ResourceView(Home)
		-->
		<pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta">
			<namespaces>
				<add namespace="OpenRasta.Web"/>
				<add namespace="OpenRasta.Web.Markup"/>
				<add namespace="OpenRasta.Codecs.WebForms"/>
				<add namespace="OpenRasta" />
				<add namespace="OpenRasta.Demo.Handlers"/>
				<add namespace="OpenRasta.Demo.Resources"/>
				<add namespace="System.Collections.Generic" />
			</namespaces>
		</pages>

		<httpHandlers>
			<add verb="*" path="*.rastahook" type="OpenRasta.Web.OpenRastaHandler, OpenRasta"/>
		</httpHandlers>
		<httpModules>
			<add name="RastaModule" type="OpenRasta.Web.OpenRastaModule, OpenRasta"/>
		</httpModules>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="OpenRasta.CodeDom.Compiler.ExtensibleCSharpCodeProvider, OpenRasta" compilerOptions="/warnaserror-">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="OpenRastaModule" type="OpenRasta.Web.OpenRastaModule, OpenRasta"/>
		</modules>
		<handlers>
			<add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Web.OpenRastaHandler, OpenRasta" />
		</handlers>
	</system.webServer>
</configuration>
